<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/diary.css" rel="stylesheet" type="text/css" />

    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="display-4 center">Future Diary</h1>
        <p class="lead center">This is a basic diary app in which you write both in the morning and at night.</p>
        <hr class="my-4 center">
        <p>Choose according to your timemline.</p>

        <div class="row justify-content-center">
            <div class="col">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Morning Diary</a>
                </p>
            </div>
            <div class="col">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Night Diary</a>
                </p>
            </div>
        </div>
        

    </div>
</body>

</html>