<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/diary.css" rel="stylesheet" type="text/css" />

    <title>Document</title>
</head>

<body>
    <div style="margin-top: 170px;">
    </div>
    <div class="container text-center">
        <div class="d-flex flex-column flexCol">
            <div class=" display-1 HHH">FUTURE DIARY</div>
            <div style="font-size: 30px;" class="p-2 mb-5">This is a basic diary app in which you write both in the morning and at night.</div>
            <div class="p-2 display-4">Choose according to your timemline.</div>
            <div class="d-flex flex-row justify-content-around pt-4">
                <p class="lead">
                    <a class="btn btn-dark btn-lg p-5 mt-3" href="/morning" role="button">Morning Diary</a>
                </p>
                <p class="lead">
                    <a class="btn btn-dark btn-lg p-5 mt-3" href="/night" role="button">Night Diary</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>