<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/diary.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="d-flex flex-column text-center">
        <div class="p-2 display-1">MORNING DIARY</div>
        <div class="container">
            <a class="btn btn-primary" href="/" role="button">&larr; Back</a>
            <div class="p-2">
                <form action="/morning" method="post">
                    <div class="form-group">
                        <label >Morning mood, Title, whatever</label>
                        <input type="text" class="form-control" placeholder="Enter anything you want ffs">
                    </div>
                    <div class="form-group">
                        <label>Custom todo</label>
                        <textarea class="form-control" rows="1"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Select your tasks</label>
                        <select class="form-control">
                            <option>Will</option>
                            <option>add</option>
                            <option>loop</option>
                            <option>with</option>
                            <option>EJS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Custom todo</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleFormControlSelect2">Idk whether this will stay (For multiple select)</label>
                        <select multiple class="form-control" id="exampleFormControlSelect2">
                            <option>we</option>
                            <option>can</option>
                            <option>use</option>
                            <option>this</option>
                            <option>too</option>
                        </select>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>

    </div>

</body>

</html>