<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/diary.css" rel="stylesheet" type="text/css" />
    <link href="/assets/diary.js" type="text/javascript">
    

</head>

<body>

    <div class="d-flex flex-column text-center">
        <div class="p-2 display-1">MORNING DIARY</div>
        <div class="container">
            <a class="btn btn-primary" href="/" role="button">&larr; Back</a>
            <div class="p-2">
                <form action="/morning" method="post">
                    <div class="form-group">
                        <label>Morning mood, Title, whatever</label>
                        <input type="text" class="form-control" placeholder="Enter anything you want ffs" value=""
                            name="title">
                    </div>
                    <div class="form-group">
                        <label>Custom todo</label>
                        <textarea class="form-control" rows="1" value="" name="customTodo" id="todo"></textarea>
                    </div>
                    <!-- <% for(var i=0; i<todos.length; i++){ %>
                            <option value="<%=todos[i].todo %>"><%=todos[i].todo %></option>
                        <% } %>  -->
                    <p>
                        <span class="output"></span>
                    </p>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
                <button onclick="getTodo()" class="btn btn-primary">save todo</button>

            </div>
        </div>

    </div>
    <!-- <script type="text/javascript">
        function getTodo() {
    selectTodo = document.querySelector('#todo');
    value = selectTodo.value;
    document.querySelector('.output').textContent = value;
}
    </script> -->
</body>

</html>