<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/diary.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="d-flex flex-column text-center">
        <div class="p-2 display-1">NIGHT DIARY</div>
        <div class="container">
            <div class="p-2">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title, Unique thing, Mood, Literally anything to remind
                            yourself instantly of this day</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Awesome day, Made my first website, Pretty sad, etc,.">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Pour in your day</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>

</html>