<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/diary.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <a href="/"><h1>Hello Night</h1></a>
    
    
</body>
</html>